<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.loans.tongdun.dao.AntifraudDetailDao">
    
	<sql id="antifraudDetailColumns">
		a.id AS "id",
		a.user_id AS "userId",
		a.apply_id AS "applyId",
		a.seq_id AS "seqId",
		a.rule_id AS "ruleId",
		a.decision AS "decision",
		a.score AS "score",
		a.type AS "type",
		a.dim_type AS "dimType",
		a.dim_value AS "dimValue",
		a.sub_dim_type AS "subDimType",
		a.result AS "result",
		a.detail AS "detail",
		a.remark AS "remark",
		a.create_by AS "createBy",
		a.create_time AS "createTime",
		a.update_by AS "updateBy",
		a.update_time AS "updateTime",
		a.del AS "del"
	</sql>
	
	<sql id="antifraudDetailJoins">

	</sql>
    
	<sql id="insertValues">
	(		
		#{id},
		#{userId},
		#{applyId},
		#{seqId},
		#{ruleId},
		#{decision},
		#{score},
		#{type},
		#{dimType},
		#{dimValue},
		#{subDimType},
		#{result},
		#{detail},
		#{remark},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{del}
	)	
	</sql>
	
	<sql id="insertBatchValues">
	(		
		#{entity.id},
		#{entity.userId},
		#{entity.applyId},
		#{entity.seqId},
		#{entity.ruleId},
		#{entity.decision},
		#{entity.score},
		#{entity.type},
		#{entity.dimType},
		#{entity.dimValue},
		#{entity.subDimType},
		#{entity.result},
		#{entity.detail},
		#{entity.remark},
		#{entity.createBy},
		#{entity.createTime},
		#{entity.updateBy},
		#{entity.updateTime},
		#{entity.del}
	)	
	</sql>
	
	<sql id="insertColumns">
	(		
		id,
		user_id,
		apply_id,
		seq_id,
		rule_id,
		decision,
		score,
		type,
		dim_type,
		dim_value,
		sub_dim_type,
		result,
		detail,
		remark,
		create_by,
		create_time,
		update_by,
		update_time,
		del
	) 
	</sql>
	
	<sql id="updateColumns">		
		user_id = #{userId},
		apply_id = #{applyId},
		seq_id = #{seqId},
		rule_id = #{ruleId},
		decision = #{decision},
		score = #{score},
		type = #{type},
		dim_type = #{dimType},
		dim_value = #{dimValue},
		sub_dim_type = #{subDimType},
		result = #{result},
		detail = #{detail},
		remark = #{remark},
		update_by = #{updateBy},
		update_time = #{updateTime}
	</sql>
	
	<sql id="updateSelectiveColumns">
		<set>
			<if test="entity.userId != null">
				user_id = #{entity.userId},
			</if>
			<if test="entity.applyId != null">
				apply_id = #{entity.applyId},
			</if>
			<if test="entity.seqId != null">
				seq_id = #{entity.seqId},
			</if>
			<if test="entity.ruleId != null">
				rule_id = #{entity.ruleId},
			</if>
			<if test="entity.decision != null">
				decision = #{entity.decision},
			</if>
			<if test="entity.score != null">
				score = #{entity.score},
			</if>
			<if test="entity.type != null">
				type = #{entity.type},
			</if>
			<if test="entity.dimType != null">
				dim_type = #{entity.dimType},
			</if>
			<if test="entity.dimValue != null">
				dim_value = #{entity.dimValue},
			</if>
			<if test="entity.subDimType != null">
				sub_dim_type = #{entity.subDimType},
			</if>
			<if test="entity.result != null">
				result = #{entity.result},
			</if>
			<if test="entity.detail != null">
				detail = #{entity.detail},
			</if>
			<if test="entity.remark != null">
				remark = #{entity.remark},
			</if>
			<if test="entity.updateBy != null">
				update_by = #{entity.updateBy},
			</if>
			<if test="entity.updateTime != null">
				update_time = #{entity.updateTime},
			</if>
		</set>
	</sql>
	
	<sql id="whereByCriteriaList">
		<where>
			<foreach collection="criteriaList" item="criteria" separator=" AND ">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="AND |OR ">
						<foreach collection="criteria.pairList" item="pair">
							<choose>
								<when test="pair.criterion.singleValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value}
								</when>
								<when test="pair.criterion.betweenValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value} and
									${pair.criterion.secondValue}
								</when>
								<when test="pair.criterion.listValue">
									${pair.logic} ${pair.criterion.column} ${pair.criterion.match}
									<foreach collection="pair.criterion.value" item="item" open="(" close=")" separator=",">
										#{item}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	
	<sql id="whereByCriteria">
		<where>
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="AND |OR ">
						<foreach collection="criteria.pairList" item="pair">
							<choose>
								<when test="pair.criterion.singleValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value}
								</when>
								<when test="pair.criterion.betweenValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value} and
									${pair.criterion.secondValue}
								</when>
								<when test="pair.criterion.listValue">
									${pair.logic} ${pair.criterion.column} ${pair.criterion.match}
									<foreach collection="pair.criterion.value" item="item" open="(" close=")" separator=",">
										#{item}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
		</where>
	</sql>
	
   <sql id="orderBy">
		ORDER BY a.create_time DESC
	</sql>
	
   <sql id="pageOrderBy">
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_time DESC
			</otherwise>
		</choose>
	</sql>
  
  	<select id="get" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		WHERE a.id = #{id}
	</select>

  	<select id="getById" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		WHERE a.id = #{id}
	</select>
		
    <select id="getByCriteria" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteria" />
	</select>
	
	<select id="findAllByCriteria" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteria" />
		<include refid="orderBy" />
	</select>
	
	<select id="findAllByCriteriaList" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteriaList" />
		<include refid="orderBy" />
	</select>
	
	<select id="getPage" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="pageOrderBy" />
	</select>
	
	<select id="getPageByCriteria" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteria" />
		<include refid="pageOrderBy" />
	</select>
	
	<select id="getPageByCriteriaList" resultType="AntifraudDetail">
		SELECT 
		<include refid="antifraudDetailColumns"/>
		FROM tongdun_antifraud_detail a
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteriaList" />
		<include refid="pageOrderBy" />
	</select>
	
	<select id="countByCriteria" resultType="Long">
		SELECT COUNT(1) FROM tongdun_antifraud_detail
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteria" />
	</select>
	
	<select id="countByCriteriaList" resultType="Long">
		SELECT COUNT(1) FROM tongdun_antifraud_detail
		<include refid="antifraudDetailJoins"/>
		<include refid="whereByCriteriaList" />
	</select>
	
	<insert id="insert">
		INSERT INTO tongdun_antifraud_detail
		<include refid="insertColumns"/>
		VALUES 
		<include refid="insertValues"/>
	</insert>
	
	<insert id="insertBatch">
		INSERT INTO tongdun_antifraud_detail
		<include refid="insertColumns"/>
		VALUES
		<foreach collection="list" item="entity" index="index" separator=",">
         <include refid="insertBatchValues"/>
        </foreach>	
	</insert>
	
	<update id="update">
		UPDATE tongdun_antifraud_detail SET 
		<include refid="updateColumns"/>
		WHERE id = #{id}
	</update>
	
	<update id="updateByCriteriaSelective">
		UPDATE tongdun_antifraud_detail 
		<include refid="updateSelectiveColumns"/>
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="updateByCriteriaListSelective">
		UPDATE tongdun_antifraud_detail 
		<include refid="updateSelectiveColumns"/>
		<include refid="whereByCriteriaList"/>
	</update>

	<update id="updateByIdSelective">
		UPDATE tongdun_antifraud_detail		
		<include refid="updateSelectiveColumns"/>
		WHERE id = #{entity.id}
	</update>

	<update id="delete">
		UPDATE tongdun_antifraud_detail
		SET del = 1
		,update_by=#{updateBy}
		WHERE id = #{id}
	</update>
	
	<update id="deleteByCriteria">
		UPDATE tongdun_antifraud_detail
		SET del = 1
		,update_by=#{entity.updateBy}
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="deleteBatch">
		UPDATE tongdun_antifraud_detail 
		SET del = 1
		,update_by=#{entity.updateBy}
		WHERE id in
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">#{id} </foreach>    
	</update>
	
	<update id="deleteByCriteriaList">
		UPDATE tongdun_antifraud_detail
		SET del = 1
		,update_by=#{entity.updateBy}
		<include refid="whereByCriteriaList"/>
	</update>	
	
	<update id="deleteTruely">
		DELETE FROM tongdun_antifraud_detail
		WHERE id = #{id}
	</update>
	
	<update id="deleteTruelyByCriteria">
		DELETE FROM tongdun_antifraud_detail
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="deleteTruelyByCriteriaList">
		DELETE FROM tongdun_antifraud_detail
		<include refid="whereByCriteriaList"/>
	</update>
	
	<update id="deleteBatchTruely">
		DELETE FROM tongdun_antifraud_detail
		WHERE id in
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">#{id} </foreach>    
	</update>
	
	
	 
</mapper>