<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.loans.app.dao.AccessLogDAO">
    
	<sql id="accessLogColumns">
		a.id AS "id",
		a.user_id AS "userId",
		a.name AS "name",
		a.method AS "method",
		a.request_url AS "requestUrl",
		a.module_name AS "moduleName",
		a.cost_time AS "costTime",
		a.source AS "source",
		a.ip AS "ip",
		a.access_date AS "accessDate",
		a.access_time AS "accessTime",
		a.user_agent AS "userAgent",
		a.params AS "params",
		a.status AS "status",
		a.remark AS "remark",
		a.create_by AS "createBy",
		a.create_time AS "createTime",
		a.update_by AS "updateBy",
		a.update_time AS "updateTime",
		a.del AS "del"
	</sql>
	
	<sql id="accessLogJoins">
		LEFT JOIN sys_user u2 ON u2.id = a.user_id
	</sql>
    
	<sql id="insertValues">
	(		
		#{id},
		#{userId},
		#{name},
		#{method},
		#{requestUrl},
		#{moduleName},
		#{costTime},
		#{source},
		#{ip},
		#{accessDate},
		#{accessTime},
		#{userAgent},
		#{params},
		#{status},
		#{remark},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{del}
	)	
	</sql>
	
	<sql id="insertBatchValues">
	(		
		#{entity.id},
		#{entity.userId},
		#{entity.name},
		#{entity.method},
		#{entity.requestUrl},
		#{entity.moduleName},
		#{entity.costTime},
		#{entity.source},
		#{entity.ip},
		#{entity.accessDate},
		#{entity.accessTime},
		#{entity.userAgent},
		#{entity.params},
		#{entity.status},
		#{entity.remark},
		#{entity.createBy},
		#{entity.createTime},
		#{entity.updateBy},
		#{entity.updateTime},
		#{entity.del}
	)	
	</sql>
	
	<sql id="insertColumns">
	(		
		id,
		user_id,
		name,
		method,
		request_url,
		module_name,
		cost_time,
		source,
		ip,
		access_date,
		access_time,
		user_agent,
		params,
		status,
		remark,
		create_by,
		create_time,
		update_by,
		update_time,
		del
	) 
	</sql>
	
	<sql id="updateColumns">		
		user_id = #{userId},
		name = #{name},
		method = #{method},
		request_url = #{requestUrl},
		module_name = #{moduleName},
		cost_time = #{costTime},
		source = #{source},
		ip = #{ip},
		access_date = #{accessDate},
		access_time = #{accessTime},
		user_agent = #{userAgent},
		params = #{params},
		status = #{status},
		remark = #{remark},
		update_by = #{updateBy},
		update_time = #{updateTime}
	</sql>
	
	<sql id="updateSelectiveColumns">
		<set>
			<if test="entity.userId != null">
				user_id = #{entity.userId},
			</if>
			<if test="entity.name != null">
				name = #{entity.name},
			</if>
			<if test="entity.method != null">
				method = #{entity.method},
			</if>
			<if test="entity.requestUrl != null">
				request_url = #{entity.requestUrl},
			</if>
			<if test="entity.moduleName != null">
				module_name = #{entity.moduleName},
			</if>
			<if test="entity.costTime != null">
				cost_time = #{entity.costTime},
			</if>
			<if test="entity.source != null">
				source = #{entity.source},
			</if>
			<if test="entity.ip != null">
				ip = #{entity.ip},
			</if>
			<if test="entity.accessDate != null">
				access_date = #{entity.accessDate},
			</if>
			<if test="entity.accessTime != null">
				access_time = #{entity.accessTime},
			</if>
			<if test="entity.userAgent != null">
				user_agent = #{entity.userAgent},
			</if>
			<if test="entity.params != null">
				params = #{entity.params},
			</if>
			<if test="entity.status != null">
				status = #{entity.status},
			</if>
			<if test="entity.remark != null">
				remark = #{entity.remark},
			</if>
			<if test="entity.updateBy != null">
				update_by = #{entity.updateBy},
			</if>
			<if test="entity.updateTime != null">
				update_time = #{entity.updateTime},
			</if>
		</set>
	</sql>
	
	<sql id="whereByCriteriaList">
		<where>
			<foreach collection="criteriaList" item="criteria" separator=" AND ">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="AND |OR ">
						<foreach collection="criteria.pairList" item="pair">
							<choose>
								<when test="pair.criterion.singleValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value}
								</when>
								<when test="pair.criterion.betweenValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value} and
									${pair.criterion.secondValue}
								</when>
								<when test="pair.criterion.listValue">
									${pair.logic} ${pair.criterion.column} ${pair.criterion.match}
									<foreach collection="pair.criterion.value" item="item" open="(" close=")" separator=",">
										#{item}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	
	<sql id="whereByCriteria">
		<where>
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="AND |OR ">
						<foreach collection="criteria.pairList" item="pair">
							<choose>
								<when test="pair.criterion.singleValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value}
								</when>
								<when test="pair.criterion.betweenValue">
									${pair.logic} ${pair.criterion.column}
									${pair.criterion.match}
									${pair.criterion.value} and
									${pair.criterion.secondValue}
								</when>
								<when test="pair.criterion.listValue">
									${pair.logic} ${pair.criterion.column} ${pair.criterion.match}
									<foreach collection="pair.criterion.value" item="item" open="(" close=")" separator=",">
										#{item}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
		</where>
	</sql>
	
   <sql id="orderBy">
		ORDER BY a.create_time DESC
	</sql>
	
   <sql id="pageOrderBy">
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_time DESC
			</otherwise>
		</choose>
	</sql>
  
  	<select id="get" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		WHERE a.id = #{id}
	</select>

  	<select id="getById" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		WHERE a.id = #{id}
	</select>
		
    <select id="getByCriteria" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteria" />
	</select>
	
	<select id="findAllByCriteria" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteria" />
		<include refid="orderBy" />
	</select>
	
	<select id="findAllByCriteriaList" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteriaList" />
		<include refid="orderBy" />
	</select>
	
	<select id="getPage" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="pageOrderBy" />
	</select>
	
	<select id="getPageByCriteria" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteria" />
		<include refid="pageOrderBy" />
	</select>
	
	<select id="getPageByCriteriaList" resultType="AccessLog">
		SELECT 
		<include refid="accessLogColumns"/>
		FROM app_access_log a
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteriaList" />
		<include refid="pageOrderBy" />
	</select>
	
	<select id="countByCriteria" resultType="Long">
		SELECT COUNT(1) FROM app_access_log
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteria" />
	</select>
	
	<select id="countByCriteriaList" resultType="Long">
		SELECT COUNT(1) FROM app_access_log
		<include refid="accessLogJoins"/>
		<include refid="whereByCriteriaList" />
	</select>
	
	<insert id="insert">
		INSERT INTO app_access_log
		<include refid="insertColumns"/>
		VALUES 
		<include refid="insertValues"/>
	</insert>
	
	<insert id="insertBatch">
		INSERT INTO app_access_log
		<include refid="insertColumns"/>
		VALUES
		<foreach collection="list" item="entity" index="index" separator=",">
         <include refid="insertBatchValues"/>
        </foreach>	
	</insert>
	
	<update id="update">
		UPDATE app_access_log SET 
		<include refid="updateColumns"/>
		WHERE id = #{id}
	</update>
	
	<update id="updateByCriteriaSelective">
		UPDATE app_access_log 
		<include refid="updateSelectiveColumns"/>
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="updateByCriteriaListSelective">
		UPDATE app_access_log 
		<include refid="updateSelectiveColumns"/>
		<include refid="whereByCriteriaList"/>
	</update>

	<update id="updateByIdSelective">
		UPDATE app_access_log		
		<include refid="updateSelectiveColumns"/>
		WHERE id = #{entity.id}
	</update>

	<update id="delete">
		UPDATE app_access_log
		SET del = 1
		,update_by=#{updateBy}
		WHERE id = #{id}
	</update>
	
	<update id="deleteByCriteria">
		UPDATE app_access_log
		SET del = 1
		,update_by=#{entity.updateBy}
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="deleteBatch">
		UPDATE app_access_log 
		SET del = 1
		,update_by=#{entity.updateBy}
		WHERE id in
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">#{id} </foreach>    
	</update>
	
	<update id="deleteByCriteriaList">
		UPDATE app_access_log
		SET del = 1
		,update_by=#{entity.updateBy}
		<include refid="whereByCriteriaList"/>
	</update>	
	
	<update id="deleteTruely">
		DELETE FROM app_access_log
		WHERE id = #{id}
	</update>
	
	<update id="deleteTruelyByCriteria">
		DELETE FROM app_access_log
		<include refid="whereByCriteria"/>
	</update>
	
	<update id="deleteTruelyByCriteriaList">
		DELETE FROM app_access_log
		<include refid="whereByCriteriaList"/>
	</update>
	
	<update id="deleteBatchTruely">
		DELETE FROM app_access_log
		WHERE id in
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">#{id} </foreach>    
	</update>
	
	
	 
</mapper>