/*   base 公共样式部分  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

li {
    list-style: none; 
}

button{
    outline:none;
}
/*   body部分  */

/* 表头导航栏 样式  */
.nav-tabs{
    font-size:12px; 
    border-bottom:1px solid #333;
}
.nav-tabs > li{
    border:1px solid #333 ;

    margin-bottom: 0px;
}
.nav-tabs > a{
    border: 0 ;
}
.nav-tabs > li > a{
    color:#555;
    margin-right: 0px;
    border-radius: 0;
    padding: 8px 25px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #555;
    border: 1px solid #333;
    border-bottom-color: transparent;
}

/* 客户信息部分  */ 

.info{
    width: 100%;
    margin-bottom:20px;
}
.box .title {
    width: 100%;
    height: 40px;
    padding:10px 10px ;
    /* border-bottom: 1px solid #999; */
    color:#555;
    font-size: 14px;
    font-weight: 600;
}
.box ul{
    width: 100%;
    overflow: hidden;
    display: block;
}
.box ul > li{
    float: left;
    margin:0px 5px;
    width: 350px;
    height: 24px;
    line-height: 30px;
    font-size: 12px;
    color:#666;
}
/* 表单部分  */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c0c0c0;
    font-size: 14px;
}
th,td {
    border: 1px solid #d0d0d0;
    color: #404060;
    padding: 10px;
    text-align: center;
    
}
tbody tr {
    background-color: #f0f0f0;
}
tbody tr:hover {
    cursor: pointer;
    background-color: #fafafa;
}
/* 联系人信息列表间距  */
.contactInfo th , .contactInfo td{          /* 7联系人信息 */
    padding: 10px 60px;
}
.nowOrdRes th ,.nowOrdRes td{               /* 11 当前申请订单*/
    padding: 10px 23px ;
}
.dataAppovalRes th , .dataAppovalRes td{     /* 5 大数据审核*/
    padding: 10px 5px;   
    text-align: left;
}
.operatingRecord th , .operatingRecord td{  /* 4 操作记录 */
    padding: 10px 50px;
}
.contactComInfo th , .contactComInfo td{    /* 5  联系人通讯录统计（按通话时长排序*/
    padding: 10px 40px;
}
.callOut th , .callOut td{                  /* 7  呼出 */
    padding: 10px 20px;
}
.incomingCall th , .incomingCall td{           /* 7  呼入 */
    padding: 10px 20px;
}
.linkCallCity th , .linkCallCity td{         /* 9  联系人通话活动地区 */
    padding: 10px 20px; 
}
.onwCallCity th , .onwCallCity td{         /* 9  本人通话活动地区  */
    padding: 10px 20px; 
}
.deciTimePlan th , .deciTimePlan td{    /* 9  分时间段统计  */
    padding: 10px 80px;
}
.ownInfoGeneral th , .ownInfoGeneral td{         /* 3  个人信息概述 */
    padding: 10px 50px;
}
.operatorInfo th {       /* 2 运营商信息 */
    padding: 10px 20px;
}
.operatorInfo td{
    text-align: left;
}
.emergencyContact th , .emergencyContact td{          /* 9  紧急联系人  */
    padding: 10px 30px;  
}
.AntifCloudAna th , .AntifCloudAna td{        /* 3 反欺诈云分析  */
    text-align: left;
}
.importInfo th , .importInfo td{     /* 9  重要信息  */
    padding: 10px 20px;         
}
/* 身份证  部分 样式  */
.identityCard{
    margin: 10px;
    width: 100%;
    height: 260px;
    overflow: hidden;
}
.identityCard > div{
    float: left;
    width: 420px;
    margin-right: 50px;
    height: 240px;
    font-size: 12px;
    color:#666;
}
.identityCard > div > img{
    width: 100%;
    height: 250px;
}
/* 审批 表单部分样式  */
.accend{
    border: 1px solid #666;
}
.accraditation > form{
    margin :10px;
    color:#555;
    font-size: 14px;
}
.accraditation form input{
    margin-left: 30px;
    margin-top : 10px;
}
.accItem{
    border: 1px solid #666;
    margin-right: 10px;
    padding-right: 30px;
}
.accIdea{
    margin-top : 10px;
    height: 80px;
    position: relative;
}
.accIdea > textarea{
    max-width: 800px;
    max-height: 150px;
    width: 458px;
    height: 54px;
    position: absolute;
    top:0 ;
    left:93px;
    z-index: 2;
}
.accbtn{
    margin-left: 92px;
    width: 142px;
    height: 32px;
    border-radius: 5px;
}
.btnSubmit{
    color: #fff;
    background-color: rgba(82, 187, 232, 1);
}
.btnCancel{
    background-color:#fff;
    border: 1px solid #555;
}
.transparent_class{   
    filter:alpha(opacity=0);   
    -moz-opacity:0;   
    -khtml-opacity: 0;   
    display: none; 
}
.btnSave{
    color: #fff;
    background-color: rgba(82, 187, 232, 1);
}
/* 操作记录部分    */


.accendSelect{
    margin-left: 30px;
    margin-top : 10px;
    margin-right: 10px;
    width: 200px;
    height: 20px;
}

/* 地址单独样式  */
#site{
	width:auto;
	margin-right:50px;
}

