<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongdu.loans.basic.dao.SysAreaDAO">
	
  	<select id="getAllArea" resultType="com.rongdu.loans.basic.entity.Store">
		SELECT 
		a.id AS "id",
		a.name AS "name"
		FROM sys_area a where a.del_flag = 0 
	</select>

</mapper>